.additionalContainer{
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;

  color: white;
  font-size: 18px;
  .music-player-content__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: get-vw(362px, 1440);

    .music-player-content-block-number{
      display: none;
    }
    .music-name {
      display: none;
    }
    .music__button{
      width: get-vw(201px, 1440);
      height: get-vw(50px, 1440);


      outline: none;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 100px;
      background: none;
      cursor: pointer;

      font-weight: 500;
      font-size: get-vw(10px, 1440);
      line-height: get-vw(36px, 1440);

      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #ffffff;
    }
    .music-length{
      display: none;
    }
    .music-player-icon {
      display: block;
      text-align: center;
      content: '';
      height: get-vw(44px, 1440);
      width: get-vw(44px, 1440);
      background-repeat: no-repeat;
      background-size: get-vw(44px, 1440) get-vw(44px, 1440);
      background-image: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/music-block__icon.svg);
    }
    .finish-text{
      display: block;
      width: get-vw(620px, 1440);

      margin-top: get-vw(40px, 1440);
      margin-bottom: get-vw(40px, 1440);
      text-align: center;

      font-weight: 400;
      font-size: get-vw(28px, 1440);
      line-height: get-vw(36px, 1440);
    }
  }

  .additional-meditations__block{
    display: flex;
    flex-direction: row;
    height: get-vw(313px, 1440);

    .music-player-content__block {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: get-vw(444px, 1440);
      height: get-vw(313px, 1440);
      position: relative;

      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;

      .music-player-content-block-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;

        top: get-vw(30px, 1440);
        left: get-vw(192px, 1440);
        width: get-vw(60px, 1440);
        height: get-vw(60px, 1440);

        font-size: get-vw(13px, 1440);
        line-height: get-vw(36px, 1440);
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        border-radius: get-vw(100px, 1440);
      }
      .music-name {
        display: block;
        width: get-vw(404px, 1440);
        height: get-vw(52px, 1440);

        margin-bottom: get-vw(20px, 1440);

        font-weight: 500;
        font-size: get-vw(20px, 1440);
        line-height: get-vw(26px, 1440);
        text-align: center;

      }
      .finish-text{
        display: none;
      }
      .music-player-icon{
        display: none;
      }
      .music-length {
        line-height: get-vw(14px, 1440);
        font-size: get-vw(13px, 1440);
      }
      .music__button {
        width: get-vw(201px, 1440);
        height: get-vw(50px, 1440);

        position: absolute;
        bottom: get-vw(30px, 1440);
        left: get-vw(122px, 1440);

        outline: none;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 100px;
        background: none;
        cursor: pointer;

        font-weight: 500;
        font-size: get-vw(10px, 1440);
        line-height: get-vw(36px, 1440);

        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        color: #ffffff;
      }
    }
  }
}
