.startContainer {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: auto;

  overflow: hidden;

  z-index: 2;

  .startContainer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: auto;

    position: relative;

    .page-cover {
      width: 100%;

      color: #ffffff;
      background-color: #1a1919;

      font-style: normal;
      font-weight: normal;
      font-size: get-vw(13px, 1440);
      font-family: var(--font-alt);

      .standart-text__block {
        margin-bottom: get-vw(100px, 1440);
        margin-top: get-vw(100px, 1440);
        font-size: get-vw(28px, 1440);
        width: get-vw(941px, 1440);
        margin-left: get-vw(90px, 1440);
      }

      .content-cover {
        position: relative;
        overflow: hidden;
        width: get-vw(1330px, 1440);
        height: get-vw(675px, 1440);
        margin-left: auto;
        margin-right: auto;
        border: get-vw(1px, 1440) solid #ffffff;
        video {
          position: absolute;
          left: 0;
          top: 0;
          min-width: 100%;
          min-height: 100%;
          box-sizing: border-box;
          object-fit: cover;
        }

        @import 'preloader';

        @import 'menu';

        @import 'meditation';

        @import 'additional';
      }

      .gel-wash-picture-cover {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: get-vw(120.56px, 1440);
        border: none;
        background: url(https://img.the-village.ru/DvVu47D-CwLNMWLfFAGaEjpo4QzvRhzlp85QZGSgmks/q:88/plain/2021/12/15/gel-wash-picture.png)
          no-repeat;
        background-size: cover;
        width: get-vw(960px, 1440);
        height: get-vw(540.44px, 1440);
      }
      .gel-wash-picture-cover::before {
        top: 41%;
        left: get-vw(-143px, 1440);
        content: '';
        height: get-vw(93px, 1440);
        width: get-vw(73px, 1440);
        position: absolute;
        background: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/gel-wash-icon.svg)
          no-repeat;
        background-size: cover;
      }
      .gel-wash-picture-cover::after {
        top: 41%;
        right: get-vw(-143px, 1440);
        content: '';
        height: get-vw(93px, 1440);
        width: get-vw(73px, 1440);
        position: absolute;
        background: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/gel-wash-icon.svg)
          no-repeat;
        background-size: cover;
      }

    }
  }
}
