.startContainer {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  height: auto;

  overflow: hidden;

  z-index: 2;

  .startContainer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: auto;

    position: relative;

    .page-cover {
      width: 100%;

      color: #ffffff;
      background-color: #1a1919;

      font-style: normal;
      font-weight: normal;
      font-size: get-vw(13px, 1440);
      font-family: var(--font-alt);

      .standart-text__block {
        margin-bottom: get-vw(100px, 1440);
        margin-top: get-vw(100px, 1440);
        font-size: get-vw(28px, 1440);
        width: get-vw(941px, 1440);
        margin-left: get-vw(90px, 1440);
      }


      .content-cover{
        position: relative;
        overflow: hidden;
        width: get-vw(1330px, 1440);
        height: get-vw(675px, 1440);
        margin-left: auto;
        margin-right: auto;
        border: get-vw(1px, 1440) solid #FFFFFF;
        video{
          position: absolute;
          left: 0;
          top: 0;
          min-width: 100%;
          min-height: 100%;
          box-sizing: border-box;
          object-fit: cover;
        }
        .music-player__block {
          display: flex;
          flex-direction: column;
          width: get-vw(1330px, 1440);

          margin-left: auto;
          margin-right: auto;

          background: url(https://img.the-village.ru/WeorJW7oxBmQacHENHZ2ukJlgTblHHLnYaXeWrYVKCY/q:88/plain/2021/12/15/music-block-background.png)
            no-repeat ;
          background-size: cover;

          .music-player-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .music-player-header-text {
              position: relative;
              margin-top: get-vw(61px, 1440);
              margin-bottom: get-vw(61px, 1440);

              line-height: get-vw(13px, 1440);
              letter-spacing: get-vw(1px, 1440);
              text-transform: uppercase;
            }
            .music-player-header-text::before {
              display: block;
              text-align: center;

              top: get-vw(-16px, 1440);
              left: get-vw(-84px, 1440);
              position: absolute;

              content: '';
              height: get-vw(44px, 1440);
              width: get-vw(44px, 1440);
              background-repeat: no-repeat;
              background-size: get-vw(44px, 1440) get-vw(44px, 1440);
              background-image: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/music-block__icon.svg);
            }
            .music-player-header-text::after {
              display: block;
              text-align: center;

              top: get-vw(-16px, 1440);
              right: get-vw(-84px, 1440);
              position: absolute;

              content: '';
              height: get-vw(44px, 1440);
              width: get-vw(44px, 1440);
              background-repeat: no-repeat;
              background-size: get-vw(44px, 1440) get-vw(44px, 1440);
              background-image: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/music-block__icon.svg);
            }
          }
          .music-player-content {
            display: flex;
            flex-direction: row;

            .music-player-content__block {
              position: relative;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 25%;
              height: get-vw(540px, 1440);

              border-top: 1px solid #ffffff;
              border-right: 1px solid #ffffff;

              .music-player-content-block-number {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                position: absolute;

                top: get-vw(55px, 1440);
                left: get-vw(134px, 1440);
                width: get-vw(60px, 1440);
                height: get-vw(60px, 1440);

                line-height: get-vw(36px, 1440);
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                border: 1px solid #ffffff;
                border-radius: get-vw(100px, 1440);
              }
              .music-name {
                margin-bottom: get-vw(30px, 1440);
                text-align: center;

                font-weight: 500;
                font-size: get-vw(20px, 1440);
                line-height: get-vw(26px, 1440);
              }
              .music-length {
                line-height: get-vw(14px, 1440);
                font-size: get-vw(13px, 1440);
              }
              .music__button {
                width: get-vw(201px, 1440);
                height: get-vw(50px, 1440);

                position: absolute;
                bottom: get-vw(55px, 1440);
                left: get-vw(65px, 1440);

                outline: none;
                border: 1px solid #ffffff;
                box-sizing: border-box;
                border-radius: 100px;
                background: none;

                font-weight: 500;
                font-size: get-vw(10px, 1440);
                line-height: get-vw(36px, 1440);

                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;

                color: #ffffff;
              }
            }
            .music-player-content__block:nth-child(4) {
              border-right: none;
            }
          }
          .music-player-content > div:hover{
            background: rgba(26, 25, 25, 0.7);
          }
          .music-player-content > div:hover .music-player-content-block-number{
            background-color: #ffffff;
            color: #1A1919;
          }
          .music-player-content > div:hover .music__button{
            background-color: #ffffff;
            color: #1A1919;

            cursor: pointer;
          }
        }
        .music-block{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: get-vw(1330px, 1440);
          margin-left: auto;
          margin-right: auto;

          position: absolute;

          background: rgba(26, 25, 25, 0.4);

          .music-block-main-part{
            margin-top: get-vw(124px, 1440);
            margin-left: get-vw(95px, 1440);

            .music-block-main-part-header{
              margin-bottom: get-vw(34px, 1440);

              font-weight: 500;
              font-size: get-vw(20px, 1440);
              line-height: get-vw(26px, 1440);
            }
            .music-block-main-part-text{
              margin-bottom: get-vw(57px, 1440);
              width: get-vw(640px, 1440);

              font-weight: normal;
              font-size: get-vw(17px, 1440);
              line-height: get-vw(26px, 1440);
            }
            .music__button{
              margin-bottom: get-vw(124px, 1440);
              width: get-vw(201px, 1440);
              height: get-vw(50px, 1440);

              outline: none;
              border: 1px solid #ffffff;
              box-sizing: border-box;
              border-radius: get-vw(100px, 1440);
              background: none;

              font-weight: 500;
              font-size: get-vw(10px, 1440);
              line-height: get-vw(36px, 1440);

              text-align: center;
              letter-spacing: 1px;
              text-transform: uppercase;

              color: #ffffff;
            }
            .music__button:hover{
              cursor: pointer;
              background-color: #ffffff;
              color: #1A1919;
            }
          }
          .music-block-additional-part{
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-left: get-vw(202px, 1440);

            .music-block-additional-part-cover{
              position: relative;
              margin-top: get-vw(30px, 1440);
              margin-bottom: get-vw(30px, 1440);

              width: get-vw(263px, 1440);
              height: get-vw(427px, 1440);

              border: get-vw(1px, 1440) solid #FFFFFF;
            }
            .music-block-additional-part-cover video{
              position: absolute;
              left: 0;
              top: 0;
              width: get-vw(263px, 1440);
              height: get-vw(427px, 1440);

              box-sizing: border-box;
              object-fit: cover;
            }
            .music-block-additional-part-icon{
              height: get-vw(44px, 1440);
              width: get-vw(44px, 1440);
              background-repeat: no-repeat;
              background-size: get-vw(44px, 1440) get-vw(44px, 1440);
              background: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/music-block__icon.svg) no-repeat ;
              background-size: cover;
            }
          }
        }
        #first-info-block{
          display: none;
        }
        #second-info-block{
          display: none;
        }
        #third-info-block{
          display: none;
        }
        #fourth-info-block{
          display: none;
        }
        .current-music-player{
          display: none;
          align-items: center;
          justify-content: center;
          width: get-vw(1330px, 1440);
          height: get-vw(675px, 1440);

          position: relative;
          margin-left: auto;
          margin-right: auto;

          .music-player-text{
            width: get-vw(620px, 1440);
            font-size: get-vw(28px, 1440);
            line-height: get-vw(36px, 1440);
            text-align: center;
            font-weight: normal;
          }
          .music-player-icon{
            display: block;
            text-align: center;
            top: get-vw(315px, 1440);
            position: absolute;
            content: '';
            height: get-vw(44px, 1440);
            width: get-vw(44px, 1440);
            background-repeat: no-repeat;
            background-size: get-vw(44px, 1440) get-vw(44px, 1440);
            background-image: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/music-block__icon.svg);
          }
          .first-player-icon{
            left: get-vw(34px, 1440);
          }
          .second-player-icon{
            right: get-vw(34px, 1440);
          }
          .current-music-player__button{
            width: get-vw(60px, 1440);
            height: get-vw(60px, 1440);
            position: absolute;
            outline: none;

            background: none;
            outline: none;
            border: 1px solid transparent;
            box-shadow: none;
            border-radius: get-vw(100px, 1440);
            cursor: pointer;
          }
          #mutebtn{
            top: get-vw(35px, 1440);
            right: get-vw(35px, 1440);
            background: url(https://cdn.the-village.ru/the-village.ru/2021/12/17/unmuted-btn.svg) center no-repeat;
            background-size: 100% 100%;
          }
          #playpausebtn{
            margin-left: get-vw(-30px, 1440);
            bottom: get-vw(67px, 1440);
            left: 50%;
            right: 50%;

            background: url(https://cdn.the-village.ru/the-village.ru/2021/12/17/playbtn_1.svg) center no-repeat;
            background-size: 100% 100%;
          }
          #seekslider{
            position: absolute;
            margin: auto;
            left: get-vw(355px, 1440);
            bottom:get-vw(35px, 1440);
            width:get-vw(620px, 1440);
            height:get-vw(6px, 1440);

            outline:none;
            -webkit-appearance: none;
            margin:0px;
            padding:0px;
            background: none;

            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 100px;
          }
          #seekslider::-ms-fill-lower  {
            background: none;
          }
          #seekslider::-ms-fill-upper  {
            background: none;
          }
          #seekslider::-moz-range-track {
            background: none;
          }
          #seekslider::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            background: #FFFFFF;
            width:get-vw(6px, 1440);
            height:get-vw(6px, 1440);
            border-radius:100%;
            cursor:pointer;
          }
          input[type='range']::-moz-range-thumb {
            background: #FFFFFF;
            width:get-vw(6px, 1440);
            height:get-vw(6px, 1440);
            border-radius:100%;
            cursor:pointer;
          }
          input[type='range']::-ms-thumb {
            -webkit-appearance: none;
            background: #FFFFFF;
            width:get-vw(6px, 1440);
            height:get-vw(6px, 1440);
            border-radius:100%;
            cursor:pointer;
          }
        }
      }

      .gel-wash-picture-cover {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: get-vw(120.56px, 1440);
        border: none;
        background: url(https://img.the-village.ru/DvVu47D-CwLNMWLfFAGaEjpo4QzvRhzlp85QZGSgmks/q:88/plain/2021/12/15/gel-wash-picture.png)
          no-repeat;
        background-size: cover;
        width: get-vw(960px, 1440);
        height: get-vw(540.44px, 1440);
      }
      .gel-wash-picture-cover::before {
        top: 41%;
        left: get-vw(-143px, 1440);
        content: '';
        height: get-vw(93px, 1440);
        width: get-vw(73px, 1440);
        position: absolute;
        background: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/gel-wash-icon.svg)
          no-repeat;
        background-size: cover;
      }
      .gel-wash-picture-cover::after {
        top: 41%;
        right: get-vw(-143px, 1440);
        content: '';
        height: get-vw(93px, 1440);
        width: get-vw(73px, 1440);
        position: absolute;
        background: url(https://cdn.the-village.ru/the-village.ru/2021/12/15/gel-wash-icon.svg)
          no-repeat;
        background-size: cover;
      }
    }
  }
}
