<div class="meditationContainer meditationContainer_3">
  <div id="third-info-block" class="music-block">
    <div class="music-block-main-part">
      <div class="music-block-main-part-header">Вечерняя медитация для возвращения к себе и своим желаниям</div>
      <div class="music-block-main-part-text">
        Выдохнуть и сбросить напряжение после тяжелого дня поможет пятиминутная практика.
        Выключите свет, если хотите, зажгите свечи, закройте глаза и настройтесь на тотальное
        расслабление и, как следствие, на легкость в своем теле. Эта медитация — проводник к
        собственным желаниям. Как большим, так и самым маленьким.<br><br>

        Для максимального погружения в вечерний отдых нанесите во время практики крем Sensai Ultimate —
        он приятно тает на поверхности кожи, мгновенно смягчая и увлажняя ее. Также сакура в составе
        способствует естественному восстановлению клеток, благодаря чему со временем ваша кожа будет
        выглядеть более свежей и подтянутой.
      </div>
      <button id="first-sound-button" class="music__button startMeditation" data-meditation-index='2'
      onclick="document.getElementById('third-info-block').style='display: none';
                document.getElementById('third-music-player').style='display: flex';">
        Начать медитацию
      </button>
    </div>
    <div class="music-block-additional-part">
      <div class="music-block-additional-part-icon"></div>
      <div class="music-block-additional-part-cover">
        <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_2.mp4"
            type="video/mp4" />
        </video>
      </div>
      <div class="music-block-additional-part-icon"></div>
    </div>
  </div>
</div>
