<div class="meditationContainer meditationContainer_1">
  <div id="first-info-block" class="music-block">
    <div class="music-block-main-part">
      <div class="music-block-main-part-header">Практика для сияния изнутри и снаружи</div>
      <div class="music-block-main-part-text">
        Идеальный способ начать утро — пятиминутная медитация, чтобы сделать легкий массаж лица,
        зарядиться любовью к себе и метафорически улыбнуться каждой частью своего тела.
        Посмотрите на себя глазами человека, который вас очень любит. И этот человек — вы сами.<br><br>

        Чтобы усилить сияние снаружи, нанесите во время практики мусс-лосьон Micro Mousse Treatment Sensai.
        Обогащенные углекислотой крошечные пузырьки мусса быстро проникают в кожу,
        благодаря чему она приобретает свежий и отдохнувший вид. Шелк Koishimaru Royal в
        составе стимулирует выработку гиалуроновой кислоты и замедляет возрастные изменения кожи.
      </div>
      <button id="first-sound-button" class="music__button startMeditation" data-meditation-index='0'
        onclick="document.getElementById('first-info-block').style='display: none';
                  document.getElementById('first-music-player').style='display: flex';">

        Начать медитацию
      </button>
    </div>
    <div class="music-block-additional-part">
      <div class="music-block-additional-part-icon"></div>
      <div class="music-block-additional-part-cover">
        <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_1.mp4"
            type="video/mp4" />
        </video>
      </div>
      <div class="music-block-additional-part-icon"></div>
    </div>
  </div>


  <div id="first-music-player" class="current-music-player">
    <div class="music-player-icon first-player-icon"></div>
    <div class="music-player-icon second-player-icon"></div>

    <button id="mutebtn" class="post__mutebtn current-music-player__button" data-audio-index='0'></button>
    <button id="playpausebtn" class="post__playpausebtn current-music-player__button" data-audio-index='0'></button>

    <input class="post__seekslider" id="seekslider" type="range" min="0" max="100" value="0" step="1" data-audio-index='0'>

    <p id="music-player-text" class="music-player-text">
      Закройте глаза ладонями. Погрузитесь в темноту и сместите фокус на дыхание.<br><br>
      Вдох-выдох. Вдох-выдох. Вдох-выдох.
    </p>
    <div id="audioSource"></div>
  </div>
</div>
