<div id="music-player-block" class="music-player__block">
  <div class="music-player-header">
    <p class="music-player-header-text">
      выберите медитацию
    </p>
  </div>
  <div class="music-player-content">
    <div class="music-player-content__block openLandingMeditation"  data-meditation-landing-index='0'>
      <div class="music-player-content-block-number">
        I
      </div>
      <div class="music-name">
        Практика для сияния<br>
        изнутри и снаружи
      </div>
      <div class="music-length">
        5 минут
      </div>
      <button id="first-music-button" class="music__button"
        onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('first-info-block').style = 'display: flex';">
        Послушать
      </button>
    </div>
    <div class="music-player-content__block openLandingMeditation"  data-meditation-landing-index='1'>
      <div class="music-player-content-block-number">
        II
      </div>
      <div class="music-name">
        Утренняя медитация для<br>
        уверенности в себе
      </div>
      <div class="music-length">
        6 минут
      </div>
      <button id="second-music-button" class="music__button"
        onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('second-info-block').style = 'display: flex';">
        Послушать
      </button>
    </div>
    <div class="music-player-content__block openLandingMeditation"  data-meditation-landing-index='2'>
      <div class="music-player-content-block-number">
        III
      </div>
      <div class="music-name">
        Вечерняя медитация<br>
        для возвращения<br>
        к себе и своим желаниям
      </div>
      <div class="music-length">
        5 минут
      </div>
      <button id="third-music-button" class="music__button"
        onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('third-info-block').style = 'display: flex';">
        Послушать
      </button>
    </div>
    <div class="music-player-content__block openLandingMeditation"  data-meditation-landing-index='3'>
      <div class="music-player-content-block-number">
        IV
      </div>
      <div class="music-name">
        Практика, чтобы погрузиться<br>
        в состояние «здесь и сейчас»
      </div>
      <div class="music-length">
        5 минут 30 секунд
      </div>
      <button id="fourth-music-button" class="music__button"
        onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('fourth-info-block').style = 'display: flex';">
        Послушать
      </button>
    </div>
  </div>
</div>

