<div class="startContainer">
  <div class="startContainer__wrapper">
    <div class="page-cover">
      <div class="standart-text__block first-text__block">
        На наш внешний вид влияет и внутреннее состояние.
        Когда мы спокойны и расслаблены, отражение в зеркале нас больше радует.
        Вместе с японским брендом косметики <a class="sensai-link" href="https://www.tsum.ru/brand/sensai-32846.html">Sensai</a> и основательницей проекта Your Om
        Дарьей Белоглазовой мы записали медитации, которые помогут настроиться на нужный лад,
        пока вы наносите уход и собираетесь на работу, встречу или мероприятие.
      </div>

      <div class="content-cover">
        <video id="background-video" class="video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_0_desk.mp4"
            type="video/mp4" />
        </video>
          <include src="src/partials/content/preloader.html"></include>
          <include src="src/partials/content/menu/container.html"></include>
          <include src="src/partials/content/meditations/container.html"></include>
      </div>

      <div class="standart-text__block second-text__block">
        Забота о себе подразумевает комплексный подход — не только снаружи, но и изнутри.
        Косметика японского бренда <a class="sensai-link" href="https://www.tsum.ru/brand/sensai-32846.html">Sensai</a> — это проявление осознанности по отношению к себе.
        Ваша кожа достойна средств с эффективными формулами и приятной текстурой,
        нанесение которой тоже немного напоминает медитацию.<br><br>

        Смотрите ASMR-ролик с ритуалом ухода за собой и настройтесь на расслабление.
      </div>

      <div class="gel-wash-picture-cover">
        <iframe class="main-page-video-cover" src="https://player.vimeo.com/video/659259131?h=3dc9c2886f" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
      <div class="carousel-cover">
        <include src="src/partials/content/carousel.html"></include>
      </div>


      <div class="footer-logo-block">
        <div class="additional-footer-text">Материал подготовлен при поддержке</div>
        <a href="https://www.tsum.ru/brand/sensai-32846.html">
          <img src="https://img.the-village.ru/12CX-Rm2Vo9xln97G2orpG_SagBwdukyh0C7OKxBlvE/q:88/plain/2021/12/22/logo_0.png" class="footer-logo">
        </a>
      </div>
    </div>
  </div>

  <audio class="post__audio" data-index='0'>
    <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/audio_1_1.mp3" type="audio/mpeg" quality="high"/>
  </audio>
  <audio class="post__audio" data-index='1'>
    <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/audio_2.mp3" type="audio/mpeg" quality="high"/>
  </audio>
  <audio class="post__audio" data-index='2'>
    <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/audio_3.mp3" type="audio/mpeg" quality="high"/>
  </audio>
  <audio class="post__audio" data-index='3'>
    <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/audio_4.mp3" type="audio/mpeg" quality="high"/>
  </audio>

</div>

<script type="text/javascript">
  {
    if (document.readyState === 'loading') {
      // первый вариант, нативное выполнение js
      // навешиваем события
      window.addEventListener("LOCATION/PAGE_READY", initPostJs);
    } else {
      // второй вариант, выполнение js через реакт
      // можно не ждать события, а сразу стартовать скрипты
      initPostJs();
    }

    function initPostJs() {
      let iframes = [...document.querySelectorAll('[data-ui-id="post"] iframe')];

      iframes.forEach((item, index, arr) => {
        let itemWidth = item.parentNode.offsetWidth,
            itemHeight = itemWidth * (item.height / item.width);

        item.width = itemWidth;
        item.height = itemHeight;
      });
    }
  }

</script>
