<div class="startContainer">
  <div class="startContainer__wrapper">
    <div class="page-cover">
      <div class="standart-text__block first-text__block">
        На наш внешний вид влияет и внутреннее состояние.
        Когда мы спокойны и расслаблены, отражение в зеркале нас больше радует.
        Вместе с японским брендом косметики Sensai и основательницей проекта Your Om
        Дарьей Белоглазовой мы записали медитации, которые помогут настроиться на нужный лад,
        пока вы наносите уход и собираетесь на работу, встречу или мероприятие.
      </div>

      <div class="content-cover">
        <video class="video" loop="loop" autoplay="" muted="">
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_0_desk.mp4"
            type="video/mp4" />
        </video>
        <div id="music-player-block" class="music-player__block">
          <div class="music-player-header">
            <p class="music-player-header-text">
              выберите медитацию
            </p>
          </div>
          <div class="music-player-content">
            <div class="music-player-content__block">
              <div class="music-player-content-block-number">
                I
              </div>
              <div class="music-name">
                Практика для сияния<br>
                изнутри и снаружи
              </div>
              <div class="music-length">
                5 минут
              </div>
              <button id="first-music-button" class="music__button"
                onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('first-info-block').style = 'display: flex';">
                Послушать
              </button>
            </div>
            <div class="music-player-content__block">
              <div class="music-player-content-block-number">
                II
              </div>
              <div class="music-name">
                Утренняя медитация для<br>
                уверенности в себе
              </div>
              <div class="music-length">
                6 минут
              </div>
              <button id="second-music-button" class="music__button"
                onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('second-info-block').style = 'display: flex';">
                Послушать
              </button>
            </div>
            <div class="music-player-content__block">
              <div class="music-player-content-block-number">
                III
              </div>
              <div class="music-name">
                Вечерняя медитация<br>
                для возвращения<br>
                к себе и своим желаниям
              </div>
              <div class="music-length">
                5 минут
              </div>
              <button id="third-music-button" class="music__button"
                onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('third-info-block').style = 'display: flex';">
                Послушать
              </button>
            </div>
            <div class="music-player-content__block">
              <div class="music-player-content-block-number">
                IV
              </div>
              <div class="music-name">
                Практика, чтобы погрузиться<br>
                в состояние «здесь и сейчас»
              </div>
              <div class="music-length">
                5 минут 30 секунд
              </div>
              <button id="fourth-music-button" class="music__button"
                onclick="document.getElementById('music-player-block').style = 'display: none'; document.getElementById('fourth-info-block').style = 'display: flex';">
                Послушать
              </button>
            </div>
          </div>
        </div>
        <div id="first-info-block" class="music-block">
          <div class="music-block-main-part">
            <div class="music-block-main-part-header">Практика для сияния изнутри и снаружи</div>
            <div class="music-block-main-part-text">
              Идеальный способ начать утро — пятиминутная медитация, чтобы сделать легкий массаж лица,
              зарядиться любовью к себе и метафорически улыбнуться каждой частью своего тела.
              Посмотрите на себя глазами человека, который вас очень любит. И этот человек — вы сами.<br><br>

              Чтобы усилить сияние снаружи, нанесите во время практики мусс-лосьон Micro Mousse Treatment Sensai.
              Обогащенные углекислотой крошечные пузырьки мусса быстро проникают в кожу,
              благодаря чему она приобретает свежий и отдохнувший вид. Шелк Koishimaru Royal в
              составе стимулирует выработку гиалуроновой кислоты и замедляет возрастные изменения кожи.
            </div>
            <button id="first-sound-button" class="music__button"
              onclick="document.getElementById('first-info-block').style='display: none';
                        document.getElementById('first-music-player').style='display: flex';
                        document.getElementById('current-audio-src-index').value = 1;">

              Начать медитацию
            </button>
          </div>
          <div class="music-block-additional-part">
            <div class="music-block-additional-part-icon"></div>
            <div class="music-block-additional-part-cover">
              <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="">
                <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_1.mp4"
                  type="video/mp4" />
              </video>
            </div>
            <div class="music-block-additional-part-icon"></div>
          </div>
        </div>
        <div id="second-info-block" class="music-block">
          <div class="music-block-main-part">
            <div class="music-block-main-part-header">Утренняя медитация для уверенности в себе</div>
            <div class="music-block-main-part-text">Еще одна утренняя медитация, но сейчас — чтобы стать немного
              увереннее в себе и подготовиться к свершениям в рабочих и личных делах.
              Сконцентрируйтесь во время практики на ощущениях — от прикосновений,
              текстур, ароматов и дыхания. Почувствуйте контакт с собой и сохраните его в течение дня.<br><br>

              Используйте во время практики флюид с легкой текстурой Fluid из линейки Absolute Silk Sensai.
              Он нежно покрывает кожу шелковой увлажняющей вуалью и защищает ее от воздействия окружающей среды.
              Так же, как и медитация, сохраняет вас от влияния других людей.
            </div>
            <button id="second-sound-button" class="music__button"
                onclick="document.getElementById('second-info-block').style='display: none';
                          document.getElementById('second-music-player').style='display: flex';
                          document.getElementById('current-audio-src-index').value = 2;">
              Начать медитацию
            </button>
          </div>
          <div class="music-block-additional-part">
            <div class="music-block-additional-part-icon"></div>
            <div class="music-block-additional-part-cover">
              <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="">
                <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_2.mp4"
                  type="video/mp4" />
              </video>
            </div>
            <div class="music-block-additional-part-icon"></div>
          </div>
        </div>
        <div id="third-info-block" class="music-block">
          <div class="music-block-main-part">
            <div class="music-block-main-part-header">Вечерняя медитация для возвращения к себе и своим желаниям</div>
            <div class="music-block-main-part-text">
              Выдохнуть и сбросить напряжение после тяжелого дня поможет пятиминутная практика.
              Выключите свет, если хотите, зажгите свечи, закройте глаза и настройтесь на тотальное
              расслабление и, как следствие, на легкость в своем теле. Эта медитация — проводник к
              собственным желаниям. Как большим, так и самым маленьким.<br><br>

              Для максимального погружения в вечерний отдых нанесите во время практики крем Sensai Ultimate —
              он приятно тает на поверхности кожи, мгновенно смягчая и увлажняя ее. Также сакура в составе
              способствует естественному восстановлению клеток, благодаря чему со временем ваша кожа будет
              выглядеть более свежей и подтянутой.
            </div>
            <button id="first-sound-button" class="music__button"
            onclick="document.getElementById('third-info-block').style='display: none';
                      document.getElementById('third-music-player').style='display: flex';
                      document.getElementById('current-audio-src-index').value = 3;">
              Начать медитацию
            </button>
          </div>
          <div class="music-block-additional-part">
            <div class="music-block-additional-part-icon"></div>
            <div class="music-block-additional-part-cover">
              <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="">
                <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_2.mp4"
                  type="video/mp4" />
              </video>
            </div>
            <div class="music-block-additional-part-icon"></div>
          </div>
        </div>
        <div id="fourth-info-block" class="music-block">
          <div class="music-block-main-part">
            <div class="music-block-main-part-header">Практика, чтобы погрузиться в состояние «здесь и сейчас»</div>
            <div class="music-block-main-part-text">
              Всегда немного страшно сделать первый шаг на пути к себе.
              Эта медитация как раз создана,
              чтобы посмотреть на себя и то, что вас окружает, новым взглядом.
              И напомнить, что каждый день уникален, но главное — с теплом и
              трепетом относиться к каждой части себя и своего тела.<br><br>

              Завершить практику стоит ритуалом очищения — смойте с себя нелюбовь,
              сомнения и предубеждения с помощью геля для умывания Sensai Clear Gel Wash.
              Оставьте настоящую себя и наградите ее добротой за заботу о себе.

            </div>
            <button id="second-sound-button" class="music__button"
            onclick="document.getElementById('fourth-info-block').style='display: none';
                      document.getElementById('fourth-music-player').style='display: flex';
                      document.getElementById('current-audio-src-index').value = 4;">
              Начать медитацию
            </button>
          </div>
          <div class="music-block-additional-part">
            <div class="music-block-additional-part-icon"></div>
            <div class="music-block-additional-part-cover">
              <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="">
                <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_3.mp4"
                  type="video/mp4" />
              </video>
            </div>
            <div class="music-block-additional-part-icon"></div>
          </div>
        </div>
        <div id="first-music-player" class="current-music-player">
          <div class="music-player-icon first-player-icon"></div>
          <div class="music-player-icon second-player-icon"></div>
          <button id="mutebtn" class="current-music-player__button"></button>
          <button id="playpausebtn" class="current-music-player__button"></button>
          <input id="current-audio-src-index" style="display: none;"></input>
          <input id="seekslider" type="range" min="0" value="0" step="1">
          <p id="music-player-text" class="music-player-text">
            Закройте глаза ладонями. Погрузитесь в темноту и сместите фокус на дыхание.<br><br>
            Вдох-выдох. Вдох-выдох. Вдох-выдох.
          </p>
          <div id="audioSource"></div>
        </div>
      </div>

      <div class="standart-text__block second-text__block">
        Забота о себе подразумевает комплексный подход — не только снаружи, но и изнутри.
        Косметика японского бренда Sensai — это проявление осознанности по отношению к себе.
        Ваша кожа достойна средств с эффективными формулами и приятной текстурой,
        нанесение которой тоже немного напоминает медитацию.<br><br>

        Смотрите ASMR-ролик с ритуалом ухода за собой и настройтесь на расслабление.
      </div>

      <div class="gel-wash-picture-cover"></div>
    </div>
  </div>
</div>
