<div class="startContainer">
  <div class="startContainer__wrapper">
      <div class="page-cover">
          <div class="standart-text__block first-text__block">
            На наш внешний вид влияет и внутреннее состояние.
            Когда мы спокойны и расслаблены, отражение в зеркале нас больше радует.
            Вместе с японским брендом косметики Sensai и основательницей проекта Your Om
            Дарьей Белоглазовой мы записали медитации, которые помогут настроиться на нужный лад,
            пока вы наносите уход и собираетесь на работу, встречу или мероприятие.
          </div>

          <div class="music-player__block">
            <div class="music-player-header">
              <p class="music-player-header-text">
                выберите медитацию
              </p>
            </div>
            <div class="music-player-content">
              <div class="music-player-content__block">
                <div class="music-player-content-block-number">
                  I
                </div>
                <div class="music-name">
                  Практика для сияния<br>
                  изнутри и снаружи
                </div>
                <div class="music-length">
                  5 минут
                </div>
                <button class="music__button">
                  Послушать
                </button>
              </div>
              <div class="music-player-content__block">
                <div class="music-player-content-block-number">
                  II
                </div>
                <div class="music-name">
                  Утренняя медитация для<br>
                  уверенности в себе
                </div>
                <div class="music-length">
                  6 минут
                </div>
                <button class="music__button">
                  Послушать
                </button>
              </div>
              <div class="music-player-content__block">
                <div class="music-player-content-block-number">
                  III
                </div>
                <div class="music-name">
                  Вечерняя медитация<br>
                  для возвращения<br>
                  к себе и своим желаниям
                </div>
                <div class="music-length">
                  5 минут
                </div>
                <button class="music__button">
                  Послушать
                </button>
              </div>
              <div class="music-player-content__block">
                <div class="music-player-content-block-number">
                  IV
                </div>
                <div class="music-name">
                  Практика, чтобы погрузиться<br>
                  в состояние «здесь и сейчас»
                </div>
                <div class="music-length">
                  5 минут 30 секунд
                </div>
                <button class="music__button">
                  Послушать
                </button>
              </div>
            </div>
          </div>

          <div class="standart-text__block second-text__block">
            Забота о себе подразумевает комплексный подход — не только снаружи, но и изнутри.
            Косметика японского бренда Sensai — это проявление осознанности по отношению к себе.
            Ваша кожа достойна средств с эффективными формулами и приятной текстурой,
            нанесение которой тоже немного напоминает медитацию.<br><br>

            Смотрите ASMR-ролик с ритуалом ухода за собой и настройтесь на расслабление.
          </div>

          <div class="gel-wash-picture-cover"></div>
      </div>
  </div>
</div>
