<div id="music-player-block" class="menuContainer music-player__block">
  <div class="music-player-header">
    <p class="music-player-header-text">
      выберите медитацию
    </p>
  </div>

  <div class="music-player-content">


    <include src="src/partials/content/menu/item_1.html"></include>

    <include src="src/partials/content/menu/item_2.html"></include>

    <include src="src/partials/content/menu/item_3.html"></include>

    <include src="src/partials/content/menu/item_4.html"></include>


  </div>
</div>

