<div class="music-player-content__block openLandingMeditation"  data-meditation-index='1'>
  <div class="music-player-content-block-number">
    II
  </div>
  <div class="music-player-icon"></div>
  <div class="music-name">
    Утренняя медитация для<br>
    уверенности в себе
  </div>
  <div class="finish-text">Мы верим, что вы способны свернуть горы.
    Надеемся, наша медитация сможет немного в этом помочь.<br><br>
    
    Ознакомьтесь и с другими практиками. Что вам сейчас хочется?</div>
  <div class="music-length">
    6 минут
  </div>
  <button id="second-music-button" class="music__button">
    Послушать
  </button>
</div>
