<div class="music-player-content__block openLandingMeditation"  data-meditation-index='3'>
  <div class="music-player-content-block-number">
    IV
  </div>
  <div class="music-player-icon"></div>
  <div class="music-name">
    Практика, чтобы погрузиться<br>
    в состояние «здесь и сейчас»
  </div>
  <div class="finish-text">Спасибо за практику бла бла, вы закончили медитацию текст текст текст</div>
  <div class="music-length">
    5 минут 30 секунд
  </div>
  <button id="fourth-music-button" class="music__button">
    Послушать
  </button>
</div>
