<div class="music-player-content__block openLandingMeditation"  data-meditation-index='0'>
  <div class="music-player-content-block-number">
    I
  </div>
  <div class="music-player-icon"></div>
  <div class="music-name">
    Практика для сияния<br>
    изнутри и снаружи
  </div>
  <div class="finish-text">Спасибо за практику бла бла, вы закончили медитацию текст текст текст</div>
  <div class="music-length">
    5 минут
  </div>
  <button id="first-music-button" class="music__button">
    Послушать 
  </button>
</div>
