<div class="music-player-content__block openLandingMeditation"  data-meditation-index='2'>
  <div class="music-player-content-block-number">
    III
  </div>
  <div class="music-player-icon"></div>
  <div class="music-name">
    Вечерняя медитация
    для возвращения
    к себе и своим желаниям
  </div>
  <div class="finish-text">
    Вы молодец, что заботитесь о себе и прислушиваетесь к своим желаниям.<br><br>
    Если вам понравилась эта медитация, советуем ознакомиться и с остальными. </div>
  <div class="music-length">
    5 минут
  </div>
  <button id="third-music-button" class="music__button">
    Послушать
  </button>
</div>

