<div class="music-player-content__block openLandingMeditation"  data-meditation-index='1'>
  <div class="music-player-content-block-number">
    II
  </div>
  <div class="music-player-icon"></div>
  <div class="music-name">
    Утренняя медитация для<br>
    уверенности в себе
  </div>
  <div class="finish-text">Спасибо за практику бла бла, вы закончили медитацию текст текст текст</div>
  <div class="music-length">
    6 минут
  </div>
  <button id="second-music-button" class="music__button">
    Послушать
  </button>
</div>
