<div class="meditationsContainer__meditation" data-index='0'>
  <div id="first-info-block" class="music-block">
    <div class="music-block-main-part">
      <div class="music-block-main-part-header">Практика для сияния изнутри и снаружи</div>
      <div class="music-block-main-part-text">
        Идеальный способ начать утро — пятиминутная медитация, чтобы сделать легкий массаж лица,
        зарядиться любовью к себе и метафорически улыбнуться каждой частью своего тела.
        Посмотрите на себя глазами человека, который вас очень любит. И этот человек — вы сами.<br><br>

        Чтобы усилить сияние снаружи, нанесите во время практики мусс-лосьон Micro Mousse Treatment Sensai.
        Обогащенные углекислотой крошечные пузырьки мусса быстро проникают в кожу,
        благодаря чему она приобретает свежий и отдохнувший вид. Шелк Koishimaru Royal в
        составе стимулирует выработку гиалуроновой кислоты и замедляет возрастные изменения кожи.
      </div>

      <!-- Тут была штука с инлайном ивентов, я ее унес в js и css -->
      <button id="first-sound-button" class="music__button startMeditation">
        Начать медитацию
      </button>
      <!-- END -->
    </div>
    <div class="music-block-additional-part">
      <div class="music-block-additional-part-icon"></div>
      <div class="music-block-additional-part-cover">
        <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_1.mp4"
            type="video/mp4" />
        </video>
      </div>
      <div class="music-block-additional-part-icon"></div>
    </div>
  </div>

  <div id="first-music-player" class="meditationMusicPlayer current-music-player">
    <div class="music-player-icon first-player-icon"></div>
    <div class="music-player-icon second-player-icon"></div>

    <button id="playpausebtn" class="post__playpausebtn current-music-player__button" data-audio-index='0'></button>
    <button id="mutebtn" class="post__mutebtn current-music-player__button" data-audio-index='0'></button>

    <input class="post__seekslider" id="seekslider" type="range" min="0" max="100" value="0" step="1" data-audio-index='0'>

    <div class="player__texts" data-text='0'>
      <span id="music-player-text" class="texts__text music-player-text" data-index='0'>

      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='1'>
        Подойдите к зеркалу.
        Посмотрите себе в глаза и сохраните этот зрительный контакт с
        отражением на протяжении всей медитации.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='2'>
        Сделайте глубокий вдох через нос и выдох через рот.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='3'>
        И ещё раз: вдох и выдох.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='4'>
        Последний раз: вдох и выдох.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='5'>
        Представьте, что ваши плечи улыбаются.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='6'>
        Почувствуйте, как они расправляются и как их тяжесть стекает вниз.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='7'>
        Улыбнитесь и грудной клеткой. Почувствуйте, как она поднимается выше.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='8'>
        Улыбнитесь животом — почувствуйте, что дышать становится свободнее, легче.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='9'>
        Улыбнитесь кожей лба — заметьте, как она разглаживается и подтягивается.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='10'>
        Улыбнитесь волосами — ощутите, как на нет сходит всё напряжение в висках, на макушке и в области затылка.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='11'>
        Улыбнитесь носом. Ноздри активнее пропускают воздух внутрь и изнутри.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='12'>
        Улыбнитесь ушами. Очистите свой ум от услышанного за сегодня.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='13'>
        Улыбнитесь сознанием. Прислушайтесь к радостному покою, который ждал вас за всеми событиями и эмоциями.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='14'>
        Улыбнитесь сердцем. Заметьте в нём пространство для нового, предвкушение.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='15'>
        Улыбнитесь глазами. Понаблюдайте, изменилось ли ваше состояние? И если да, то как?
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='16'>
        Улыбнитесь губами. Почувствуйте, как вы это делаете не для кого-то. Улыбка полностью принадлежит вам. А ваше лицо сейчас — расслабленное и радостное. Неподдельное отражение того, что внутри.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='17'>
        Закройте глаза. Уведите всё своё внимание в новое состояние тела и внутреннее ощущение красоты.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='18'>
        Сделайте три цикла дыхания, чтобы закрепить этот фокус. Вдох через нос. И выдох через рот.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='19'>
        Ещё один вдох через нос. И выдох через рот.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='20'>
        И последний вдох через нос. Выдох через рот.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='21'>
        Обнимите себя.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='22'>
        А затем массирующими надавливающими движениями нанесите на лицо или на тело тающий крем. Почувствуйте тепло своих рук, продолжая ритуал внимания и любви к себе.
      </span>
      <span id="music-player-text" class="texts__text music-player-text" data-index='23'>
        И пронесите это состояние через весь день.
      </span>
    </div>
    <div id="audioSource"></div>
  </div>

  <div id="first-additional-container" class="additionalContainer">
    <include class="test" src="src/partials/content/menu/item_1.html"></include>
    <div class="additional-meditations__block">
      <include class="test" src="src/partials/content/menu/item_2.html"></include>
      <include class="test" src="src/partials/content/menu/item_3.html"></include>
      <include class="test" src="src/partials/content/menu/item_4.html"></include>
    </div>
  </div>

</div>
