<div class="meditationsContainer__meditation" data-index='3'>
  <div id="fourth-info-block" class="music-block">
    <div class="music-block-main-part">
      <div class="music-block-main-part-header">Практика, чтобы погрузиться в состояние «здесь и сейчас»</div>
      <div class="music-block-main-part-text">
        Всегда немного страшно сделать первый шаг на пути к себе.
        Эта медитация как раз создана,
        чтобы посмотреть на себя и то, что вас окружает, новым взглядом.
        И напомнить, что каждый день уникален, но главное — с теплом и
        трепетом относиться к каждой части себя и своего тела.<br><br>

        Завершить практику стоит ритуалом очищения — смойте с себя нелюбовь,
        сомнения и предубеждения с помощью геля для умывания Sensai Clear Gel Wash.
        Оставьте настоящую себя и наградите ее добротой за заботу о себе.

      </div>
      <!-- Тут была штука с инлайном ивентов, я ее унес в js и css -->
        <button id="fourth-sound-button" class="music__button startMeditation">
        Начать медитацию
      </button>
      <!-- END -->
    </div>
    <div class="music-block-additional-part">
      <div class="music-block-additional-part-icon"></div>
      <div class="music-block-additional-part-cover">
        <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_3.mp4"
            type="video/mp4" />
        </video>
      </div>
      <div class="music-block-additional-part-icon"></div>
    </div>
  </div>
</div>
