<div class="meditationsContainer__meditation" data-index='1'>
  <div id="second-info-block" class="music-block">
    <div class="music-block-main-part">
      <div class="music-block-main-part-header">Утренняя медитация для уверенности в себе</div>
      <div class="music-block-main-part-text">Еще одна утренняя медитация, но сейчас — чтобы стать немного
        увереннее в себе и подготовиться к свершениям в рабочих и личных делах.
        Сконцентрируйтесь во время практики на ощущениях — от прикосновений,
        текстур, ароматов и дыхания. Почувствуйте контакт с собой и сохраните его в течение дня.<br><br>

        Используйте во время практики флюид с легкой текстурой Fluid из линейки Absolute Silk Sensai.
        Он нежно покрывает кожу шелковой увлажняющей вуалью и защищает ее от воздействия окружающей среды.
        Так же, как и медитация, сохраняет вас от влияния других людей.
      </div>

      <!-- Тут была штука с инлайном ивентов, я ее унес в js и css -->
        <button id="second-sound-button" class="music__button startMeditation">
        Начать медитацию
      </button>
      <!-- END -->
    </div>
    <div class="music-block-additional-part">
      <div class="music-block-additional-part-icon"></div>
      <div class="music-block-additional-part-cover">
        <video class="music-block-additional-part__video" loop="loop" autoplay="" muted="" playsinline>
          <source src="https://cdn.the-village.ru/the-village.ru/assets/sensai-1403/video_2.mp4"
            type="video/mp4" />
        </video>
      </div>
      <div class="music-block-additional-part-icon"></div>
    </div>
  </div>
</div>
